body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.top-bar,
.top-container,
footer {
    background-color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
    height: 300px;
    width: 100vh;
    padding-inline: 25vh;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.quote-author {
    padding-top: 10px;
    align-self: flex-end;
}

.h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding-left: 20px;
}

.top-left>p {
    font-size: 18px;
    color: #E5E7EB;
}

.button-top {
    background-color: #3882F6;
    border-radius: 7px;
    height: 30px;
    width: 100px;
    border: 0;
    color: #F9FAF8;
    font-weight: 700;
}

.button-bottom {
    background-color: #3882F6;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: 2px solid white;
    color: #F9FAF8;
    font-weight: 700;
}

.middle-container>h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    width: 800px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 100vh;
    padding-inline: 25vh;
}

.top-container {
    display: flex;
    justify-content: space-between;
    width: 100vh;
    padding-inline: 25vh;
    padding-block: 120px;
    height: 300px;
}

.top-left {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.top-right {
    width: 500px;
    /*background-color: gray;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right>img {
    width: auto;
    height: 300px;
    border-radius: 5px;
    flex-grow: 2;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    padding-inline: 25vh;
    padding-block-end: 80px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 300px;
    padding-inline-end: 40px;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    text-align: center;
}

li>img {

    border-radius: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vh;
    padding-inline: 25vh;
}

.bottom-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    height: 100px;
    border-radius: 5px;
}

.bottom-left {
    width: 600px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAF8;
}

.bottom-left>* {
    line-height: 0;
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}